.container {
	position: absolute;
	top: 45px;left: 35%;right: 35%;
	color: #555;
}
.box {
	padding: 0px;
	border-radius: 0px;
	border: none;
	font-size: 16px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	height: 60px;
}
.box:focus { border-bottom: 1px solid #4caf50; }
.container .logo {
	text-align: center;
	margin-bottom: 25px;
}
.container .logo img {
	width: 80%;
}
.bag-tombol button { height: 55px; }
.opt {
	margin-top: 40px;
	color: #666;
}
.opt a {
	color: #4caf50;
	text-decoration: none;
}
#formLogin .opt { margin-top: 122px; }

#formReg { display: none; }